body {
    background-color: #181e29;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section {
    background-color: #0b101b;
    border-radius: 10px;
    padding: 2rem 1rem;
    width: min(97vw, 400px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

h2, p {
    color: #cccccc;
}

.error_message {
    color: #e95690;
}

p a {
    color: #1d9bf0;
}